.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml
*.lock

# Android
android/.gradle/
android/local.properties
android/app/*.jks
android/key.properties

# iOS
ios/Pods/
ios/.symlinks/

# IDE
.idea/
.vscode/
